*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"popins",sans-serif;
}
body{
    background-color: azure;

}
.contanier{
    background-color:khaki;
    width: 450px;
    padding: 1.5rem;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 20px 35px gray;
}
form{
    margin: 0 2rem;
}
.form-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.3rem;
    margin-bottom: 0.4rem;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 1.5rem;
    font-size: 15px;
}
.inputbox-group{
    padding: 1% 0;
    position: relative;
}
.inputbox-group i{
    position: absolute;
    color: black;
}
input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid rgb(206, 93, 93);
}
input::placeholder{
    color: transparent;
}
label{
    color: gray;
    position: relative;
    left: 1.2em;
    top: -1.3em;
    cursor: auto;
    transition: 0.3s ease all;
}
input:focus~label,input:not(:placeholder-shown)~label{
    top: -3em;
    color:red;
    font-size: 15px;
}
.recover{
    text-align: right;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a{
    text-decoration: none;
    color: rgb(206, 93, 93);
}
.recover a:hover{
    color: blue;
    text-decoration: underline;
}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background:rgb(206, 93, 93); 
    color: white;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: black;
}
.or{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}
.icons{
    text-align: center;
}
.icons i{
    color: rgb(206, 93, 93);
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 2px solid white;
    margin: 0 15px;
    transition: 1s;
}
.icons i:hover{
    background: black;
    font-size: 1.6rem;
    border: 2px solid rgb(206, 93, 93);
}
.links{
display: flex;
justify-content: space-around;
padding: 0 4rem;
margin-top: 0.9rem;
font-weight: bold;
}
button{
    color:rgb(206, 93, 93) ;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: bold;
}
button:hover{
    text-decoration:underline ;
    color: blue;
}